<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.jiangyinzuo.carbon.dao.mapper.FriendMapper">
    <insert id="addFriends">
        INSERT INTO bwton_friendship(user1_id, user2_id) VALUES(#{user1Id}, #{user2Id})
    </insert>

    <select id="getUserAndFriends" resultType="pers.jiangyinzuo.carbon.domain.entity.User">
        SELECT
            bwton_user.user_id, bwton_user.nickname, bwton_user.badge
        FROM
            bwton_user
        WHERE
            user_id = #{userId}
        UNION ALL
        SELECT
            bwton_user.user_id, bwton_user.nickname, bwton_user.badge
        FROM
            bwton_user, bwton_friendship
        WHERE
            bwton_friendship.user1_id = #{userId}
        AND
            bwton_friendship.user2_id = bwton_user.user_id
        UNION ALL
        SELECT
            bwton_user.user_id, bwton_user.nickname, bwton_user.badge
        FROM
            bwton_user, bwton_friendship
        WHERE
            bwton_friendship.user2_id = #{userId}
        AND
            bwton_friendship.user1_id = bwton_user.user_id
    </select>
    <select id="isFriend" resultType="Boolean">
        SELECT EXISTS(SELECT 1 FROM bwton_friendship WHERE user1_id = #{user1Id} AND user2_id = #{user2Id})
    </select>
</mapper>