<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.jiangyinzuo.carbon.dao.mapper.UserMapper">
    <select id="getUserAccountByTelephone" resultType="pers.jiangyinzuo.carbon.domain.dto.UserLoginDTO">
        SELECT user_id, telephone, cipher, salt FROM bwton_user WHERE telephone = #{telephone}
    </select>
    <insert id="saveUserAccount">
        INSERT INTO bwton_user(nickname, cipher, salt, telephone) VALUES (#{nickname}, #{cipher}, #{salt}, #{telephone})
    </insert>

    <select id="exists" resultType="Boolean">
        SELECT EXISTS(SELECT 1 FROM bwton_user WHERE user_id = #{userId})
    </select>
</mapper>