<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.jiangyinzuo.carbon.dao.mapper.FriendMapper">
    <insert id="addFriends">
        INSERT INTO bwton_friendship(user1_id, user2_id) VALUES(#{user1Id}, #{user2Id})
    </insert>
    <select id="getFriends" resultType="Long">
        SELECT user2_id AS user_id FROM bwton_friendship_temp WHERE user1_id = #{userId}
        UNION ALL
        SELECT user1_id AS user_id FROM bwton_friendship_temp WHERE user2_id = #{userId}
    </select>
</mapper>